.fake/
.vs/
.ionide/
obj/
bin/
packages/
paket-files/
node_modules/
src/Client/public/
src/Client/fable/
src/Server/Properties/launchSettings.json
release.cmd
release.sh
deploy.zip
.paket/load/
deploy/
*.user
yarn-error.log
__azurite_db*
/.paket
/.yarn*
/.pnp.cjs
