group Server
    storage: none
    source https://api.nuget.org/v3/index.json

	nuget FSharp.Core
    nuget Fable.JsonConverter
	nuget Giraffe.TokenRouter
	nuget FSharp.Data 3.0.0-beta3
	nuget Saturn
	nuget Microsoft.ApplicationInsights.AspNetCore ~> 2.2
    nuget WindowsAzure.Storage

	clitool Microsoft.DotNet.Watcher.Tools

group Client
    storage: none
    source https://api.nuget.org/v3/index.json
	
	nuget Fable.Core
	nuget Fable.React
	nuget Fable.Elmish.React
	nuget Fable.Elmish.Browser
	nuget Fable.Elmish.Debugger
	nuget Fable.Elmish.HMR	

	clitool dotnet-fable
	
group ServerTests
	storage: none
	source https://nuget.org/api/v2

	nuget xunit
	nuget xunit.runner.visualstudio
	
group Build
    source https://api.nuget.org/v3/index.json
    generate_load_scripts: true

    nuget FAKE
    nuget Microsoft.Azure.Management.ResourceManager.Fluent 1.4.1
    github CompositionalIT/fshelpers src/FsHelpers/ArmHelper/ArmHelper.fs
