group Server
    storage: none
    source https://api.nuget.org/v3/index.json

	nuget FSharp.Core
	nuget Fable.JsonConverter
	nuget Giraffe
	nuget Giraffe.TokenRouter
	nuget Microsoft.AspNetCore.StaticFiles
	nuget Microsoft.AspNetCore
	nuget FSharp.Data 3.0.0-beta3

	clitool Microsoft.DotNet.Watcher.Tools
	
group Client
    storage: none
    source https://api.nuget.org/v3/index.json
	
	nuget Fable.Core
	nuget Fable.React
	nuget Fable.Elmish.React
	nuget Fable.Elmish.Browser
	nuget Fable.Elmish.Debugger
	nuget Fable.Elmish.HMR

	clitool dotnet-fable

group ServerTests
	storage: none
	source https://nuget.org/api/v2

	nuget xunit
	nuget xunit.runner.visualstudio

group Build
	source https://nuget.org/api/v2
	nuget FAKE