group WikiParsing
	source https://api.nuget.org/v3/index.json
	
	nuget FSharp.Data 3.0.0-beta3

group Core
    source https://api.nuget.org/v3/index.json
	
	nuget FSharp.Core

group Storage
    source https://api.nuget.org/v3/index.json

	nuget FSharp.Core
	nuget WindowsAzure.Storage

group Server
    source https://api.nuget.org/v3/index.json

    nuget Saturn 0.7.6
    nuget Thoth.Json.Giraffe 1.1
	nuget Thoth.Json.Net 2.5
	nuget Giraffe 3.4
    nuget Microsoft.ApplicationInsights.AspNetCore ~> 2.2

group Scraper
    source https://api.nuget.org/v3/index.json

	nuget FSharp.Core
	nuget Microsoft.ApplicationInsights
	
group Client
    source https://api.nuget.org/v3/index.json

	nuget Fable.Elmish.React
	nuget Fable.Elmish.Browser
	nuget Fable.Elmish.Debugger
	nuget Fable.Elmish.HMR
	nuget Fulma
	nuget Fable.FontAwesome.Free
	nuget Thoth.Fetch

    clitool dotnet-fable 

group Core.Tests
	source https://nuget.org/api/v2

	nuget FSharp.Core
	nuget xunit
	nuget xunit.runner.visualstudio
    nuget Microsoft.NET.Test.Sdk
	
group Core.IntegrationTests
	source https://nuget.org/api/v2

	nuget FSharp.Core
	nuget xunit
	nuget xunit.runner.visualstudio
    nuget Microsoft.NET.Test.Sdk

group Client.UiTests
	source https://nuget.org/api/v2

    nuget Canopy
	nuget xunit
	nuget xunit.runner.visualstudio
    nuget FSharp.Core
    nuget Selenium.WebDriver.ChromeDriver
	nuget Microsoft.NET.Test.Sdk

group WikiParsing.Tests
	source https://nuget.org/api/v2

	nuget FSharp.Core
	nuget xunit
	nuget xunit.runner.visualstudio
    nuget Microsoft.NET.Test.Sdk
	
group Build
    source https://api.nuget.org/v3/index.json
	
    nuget Nuget.Packaging < 5.7 // https://github.com/fsprojects/Paket/issues/3907
    nuget FSharp.Core 4.3.4 // https://github.com/fsharp/FAKE/issues/2001
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Environment
    nuget Fake.Core.Trace
    nuget Fake.IO.Zip
    github CompositionalIT/fshelpers src/FsHelpers/ArmHelper/ArmHelper.fs

group Deployment
    source https://api.nuget.org/v3/index.json
    
    nuget FSharp.Core
    nuget Farmer