@import '~bulma/bulma.sass';

.task-button {
    width: 49%;
    height: 70px;
    font-size: 25px;
}

.task-label.tag {
    height: 100%;
    width: 100%;
    font-size: 25px;
}

.navbar-brand {
    float: none;
    padding: 0px;
}