@import '~bulma/bulma.sass';

$primary-color: #3273dc;
$incorrect-color: $danger;
$incorrect-color-lightened: lighten($incorrect-color, 35%);
$correct-color: $success;
$correct-color-lightened: lighten($correct-color, 45%);
$filter-block-color: #808080;
$filter-arrow-animation-speed: 0.30s;
$general-black-color: #4a4a4a;

body { width: 100%; }

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    .navbar-brand {
        float: none;
        padding: 0px;
    }

    .navbar-item {
        .title {
            text-decoration: underline;
            text-decoration-color: $primary-color;
        }

        .title::first-letter { 
            color: $primary-color;
        }
    }

    span.task-heading {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    span.home-subheading {
        font-size: 20px;
        text-align: center;
    }

    div.home-columns {
        margin-top: 20px;
        width: 100%;
    }

    .home-columns {
        .column {
            display: flex;
            flex-direction: column;
        }
    }

    div.home-column-heading {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    a.home-column-links {
        text-align: center;
        font-size: 20px;
    }

    div.gender-filter     .gender-filter-label,
    div.regularity-filter .regularity-filter-label,
    div.pattern-filter    .pattern-filter-label,
    div.class-filter      .class-filter-label {
        height: 50%;
    }

    .task-buttons-container {
        display: flex;
        flex: 1;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .task-button {
        width: 49%;
        height: 70px;
        font-size: 25px;
    }
    
    .task-label.tag {
        width: 100%;
        font-size: 25px;
    }

    .input {
        border-width: 3px;
    }

    .task-input-correct {
        input{
            border-color: $correct-color !important;
            background: $correct-color-lightened; 
        }

        i {
            color: $correct-color;     
        }
    }

    .task-input-incorrect {
        input {
            border-color: $incorrect-color !important; 
            background: $incorrect-color-lightened;
        }

        i {
            color: $incorrect-color;     
        }
    }

    
    .filter-block {
        i {
            color: $filter-block-color;
            transition: $filter-arrow-animation-speed;
            -webkit-transition: $filter-arrow-animation-speed;
            -moz-transition: $filter-arrow-animation-speed;
            -ms-transition: $filter-arrow-animation-speed;
            -o-transition: $filter-arrow-animation-speed;
        }

        .filter-block-header {
            padding-bottom: 0px;
        }

        .filter-block-text {
            color: $filter-block-color;
            padding-left: 10px;
        }

        &.children-hidden {
            i {
                transition: $filter-arrow-animation-speed;
                -webkit-transition: $filter-arrow-animation-speed;
                -moz-transition: $filter-arrow-animation-speed;
                -ms-transition: $filter-arrow-animation-speed;
                -o-transition: $filter-arrow-animation-speed;
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }

            .filter-block-header {
                padding-bottom: 10px;
            }
        }

        div {
            color: $general-black-color;
        }

        &.children-hidden {
            .filter-block-children{
                display: none;
            }
        }

        .filter-block-children{
            padding-bottom: 10px;
            display: flex;
            justify-content: space-between;
        }

        
    }

    /* override Bulma's margin, we don't need it */
    .columns:not(last-child) {
        margin-bottom: 0 !important;
    }

    .symbol-buttons {
        display: flex;
        flex-wrap: wrap;
        button {
            width: 30px;
            height: 30px;
            font-size: 15px;
            margin-right: 8px;
            margin-bottom: 8px;
        }
    }
    
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    span.task-heading {
        font-size: 60px;
        font-weight: normal;
        margin-bottom: 30px;
    } 

    span.home-heading {
        font-size: 100px;
    }

    div.home-column-heading {
        font-size: 30px;
    }
    
    .filter-block {
        .filter-block-header {
            display: none;
        }

        &.children-hidden {
            .filter-block-children {
                display: flex;
                justify-content: space-around;
            }
        }
    }

    a.home-column-links {
        font-size: 30px;
    }

    .task-filter-container {
        margin-bottom: 30px;
    }

    .filter-block-children {
        display: flex;
        justify-content: space-around;
    }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
